@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-nav: #eeeeee;
  --background-hover: #dddddd;
  --foreground: #171717;
  --primary: var(--color-blue-400);
  --secondary: var(--color-cyan-600);
}

@theme inline {
  --color-background: var(--background);
  --color-background-nav: var(--background-nav);
  --color-background-hover: var(--background-hover);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-nav: #1a1a1a;
    --background-hover: #2a2a2a;
    --foreground: #ededed;
    --primary: var(--color-blue-700);
    --secondary: var(--color-cyan-800);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
